[submodule ".config/zsh/fast-syntax-highlighting"]
	path = .config/zsh/fast-syntax-highlighting
	url = ../../zdharma-continuum/fast-syntax-highlighting
[submodule ".config/nvim"]
	path = .config/nvim
	url = ../../jarodlam/kickstart.nvim.git
